#packages
*.war
*.zip
*.tar.gz
*.rar

## Editors ##
#eclipse
target/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.launch
local.properties
.settings/
.loadpath
.recommenders
.target
.classpath
.project
#vim
*~
*.swp
#intelliJ
*.iml
